<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://wx3.sinaimg.cn/thumbnail/bfc243a3gy1febm7nzbz7j20ib0iek5j.jpg</string>
		<string>http://wx3.sinaimg.cn/large/bfc243a3gy1febm7nzbz7j20ib0iek5j.jpg</string>
		<string>(1)凡所有相,皆是虚妄,若见诸相非相,即见如来.</string>
	</array>
	<array>
		<string>http://wx1.sinaimg.cn/thumbnail/bfc243a3gy1febm7orgqfj20i80ht15x.jpg</string>
		<string>http://wx1.sinaimg.cn/large/bfc243a3gy1febm7orgqfj20i80ht15x.jpg</string>
		<string>(2)身是菩提树,心如明镜台,时时勤擦拭,莫使惹尘埃. </string>
	</array>
	<array>
		<string>http://wx1.sinaimg.cn/thumbnail/bfc243a3gy1febm7n9eorj20i60hsann.jpg</string>
		<string>http://wx1.sinaimg.cn/large/bfc243a3gy1febm7n9eorj20i60hsann.jpg</string>
		<string>(3)菩提本无树,名镜亦非台,本来无一物,何处惹尘埃.</string>
	</array>
	<array>
		<string>http://wx2.sinaimg.cn/thumbnail/bfc243a3gy1febm7pmnk7j20i70jidwo.jpg</string>
		<string>http://wx2.sinaimg.cn/large/bfc243a3gy1febm7pmnk7j20i70jidwo.jpg</string>
		<string>(4)一切有为法，如梦幻泡影。如露亦如电，应作如是观.</string>
	</array>
	<array>
		<string>http://wx3.sinaimg.cn/thumbnail/bfc243a3gy1febm7qjop4j20i00hw4c6.jpg</string>
		<string>http://wx3.sinaimg.cn/large/bfc243a3gy1febm7qjop4j20i00hw4c6.jpg</string>
		<string>(5)色不异空,空不异色,色即是空,空即是色.</string>
	</array>
	<array>
		<string>http://wx4.sinaimg.cn/thumbnail/bfc243a3gy1febm7rncxaj20ek0i74dv.jpg</string>
		<string>http://wx4.sinaimg.cn/large/bfc243a3gy1febm7rncxaj20ek0i74dv.jpg</string>
		<string>(6)一切有为法，如梦幻泡影。如露亦如电，应作如是观.</string>
	</array>
	<array>
		<string>http://wx2.sinaimg.cn/thumbnail/bfc243a3gy1febm7sdk4lj20ib0i714u.jpg</string>
		<string>http://wx2.sinaimg.cn/large/bfc243a3gy1febm7sdk4lj20ib0i714u.jpg</string>
		<string>(7)烦恼即菩提.</string>
	</array>
	<array>
		<string>http://wx4.sinaimg.cn/thumbnail/bfc243a3gy1febm7tekewj20i20i4aoy.jpg</string>
		<string>http://wx4.sinaimg.cn/large/bfc243a3gy1febm7tekewj20i20i4aoy.jpg</string>
		<string>(8)过去心不可得,现在心不可得,未来心不可得.</string>
	</array>
	<array>
		<string>http://wx3.sinaimg.cn/thumbnail/bfc243a3gy1febm7usmc8j20i543zngx.jpg</string>
		<string>http://wx3.sinaimg.cn/large/bfc243a3gy1febm7usmc8j20i543zngx.jpg</string>
		<string>(9)纵使经百劫,所作业不亡,因缘会遇时,果报还自受.</string>
	</array>
</array>
</plist>
